doctype html
html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    div.container-fluid
      div.row
        each vehicle, index in vehicles
          div.col-sm-4
            h2= vehicle.vehicle_name
            p Price: #{vehicle.price}
            p Functionality: #{vehicle.functionality}
            button.buy-btn(data-index=index, data-name=vehicle.vehicle_name) Buy

    script.
      document.addEventListener('DOMContentLoaded', function() {
        const buyButtons = document.querySelectorAll('.buy-btn');
        buyButtons.forEach(button => {
          button.addEventListener('click', function() {
            const index = button.getAttribute('data-index');
            const name = button.getAttribute('data-name');
            buy(index, name);
          });
        });
      });

      function buy(index, name) {
        alert("You purchased item " + index + ": " + name);
      }
