extends layout

block content
  h1= title
  form(action="/vehicles/create" method="POST")
    if error
        div(style="color: red;")
            p= error  // Display the error message
    div
        label(for="vehicle_name") Vehicle Name:
        input(type="text" name="vehicle_name" value="#{vehicle.vehicle_name}")
    div
        label(for="price") Price:
        input(type="number" name="price" value="#{vehicle.price}")
    div
        label(for="functionality") Functionality:
        select(name="functionality")
            option(value="Transportation" selected=vehicle.functionality == 'Transportation') Transportation
            option(value="Recreational" selected=vehicle.functionality == 'Recreational') Recreational
            option(value="Commercial" selected=vehicle.functionality == 'Commercial') Commercial
            option(value="Military" selected=vehicle.functionality == 'Military') Military
    div
        button(type="submit") Submit
  
  script.
    document.forms['VehicleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // Show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });