extends layout

block content
  h1= title
  - let vehicleId = toShow._id
  - let vehicleName = toShow.vehicle_name
  - let price = toShow.price
  - let functionality = toShow.functionality

  div.row
    div(class='vehiclesAttr mr-3') Vehicle ID is:
    div #{vehicleId}
  div.row
    div(class='vehiclesAttr mr-3') Vehicle Name is:
    div #{vehicleName}
  div.row
    div(class='vehiclesAttr mr-3') Price is:
    div #{price}
  div.row
    div(class='vehiclesAttr mr-3') Functionality is:
    div #{functionality}
