doctype html
html
  head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  //- Unbuffered code block to define the array of results
  -
    const results = [
       { vehicle_name: 'Sedan', "price": 20000, "functionality": "Transportation"},
      { vehicle_name: 'Sport Bike', "price": 15000, "functionality": "Recreational"},
      { vehicle_name: 'SUV',"price": 15000,"functionality": "Transportation"}
    ];

each item, index in results
          .col-sm-2
            h2 #{item.vehicle_name}
            p Car: #{item.price} years
            p Speed: #{item.functionality}
            button(class="buy-btn" data-index=index data-name=item.vehicle_name) Buy

div.container-fluid
    div.row
      - for (const vehicle of results)
        div.col-sm-2
          p Vehicle Name: #{vehicle.vehicle_name}
          p price: #{vehicle.price}
          p functionality: #{vehicle.functionality} km/h

    script.
      document.addEventListener('DOMContentLoaded', function() {
        const buyButtons = document.querySelectorAll('.buy-btn');
        buyButtons.forEach(button => {
          button.addEventListener('click', function() {
            const index = button.getAttribute('data-index');
            const name = button.getAttribute('data-name');
            buy(index, name);
          });
        });
      });

      function buy(index, name) {
        alert("You purchased item " + index + ": " + name);
      }