extends layout

block content
  h1= title
  - let vehiclesid = toShow._id
  - let vehiclesname = toShow.vehicle_name
  - let vehiclesprice = toShow.price
  - let vehiclesfunctionality = toShow.functionality
  
  div
    div.row
      div(class='vehiclesAttr mr-3') Vehicle ID:
      div #{vehiclesid}
    div.row
      div(class='vehiclesAttr mr-3') Vehicle Name:
      div #{vehiclesname}
    div.row
      div(class='vehiclesAttr mr-3') Vehicle Price:
      div #{vehiclesprice}
    div.row
      div(class='vehiclesAttr mr-3') Vehicle Functionality:
      div #{vehiclesfunctionality}
