extends layout

block content
  h1(style="color: #333;") Vehicle Deletion

  div.row
    div(class='vehiclesAttr mr-3') Vehicle ID is:
    div #{toShow._id}
  div.row
    div(class='vehiclesAttr mr-3') Vehicle Name is:
    div #{toShow.vehicle_name}
  div.row
    div(class='vehiclesAttr mr-3') Price is:
    div #{toShow.price}
  div.row
    div(class='vehiclesAttr mr-3') Functionality is:
    div #{toShow.functionality}

  div
    button#deleteBtn.btn-delete(onclick="deleteVehicle()") Delete
    button#cancelBtn.btn-cancel(onclick="window.location.href='/vehicles/view/page'") Cancel

  div#alert(style="display: none; margin-top: 20px; color: green; text-align: center;")
    strong Delete succeeded
script(src="/javascripts/vehicles.js")
  script.
  function deleteVehicle(id) {
    fetch(`/vehicles/delete/${id}`, {
      method: 'DELETE',
    })
      .then(response => {
        if (response.ok) {
          document.getElementById('alert').style.display = 'block';
          setTimeout(() => {
            window.location.href = '/vehicles/view/page';
          }, 2000);
        } else {
          alert('Error deleting vehicle. Please try again.');
        }
      })
      .catch(err => {
        console.error('Error:', err);
        alert('Error deleting vehicle. Please check the console for details.');
      });
  }

