extends layout

block content
  h1= title
  a.btn.btn-success.mb-3(href='/resource/vehicles/create') Create New Vehicle

  if results && results.length
    each vehicle in results
      div(class="card my-3 p-3 border")
        h3 Name: #{vehicle.vehicle_name}
        ul
          li Price: #{vehicle.price}
          li Functionality: #{vehicle.functionality}
        button.btn.btn-primary.mt-2(onclick=`navigateToUpdate('${vehicle._id}')`) Update
        button.btn.btn-info.mt-2(onclick=`navigateToDetails('${vehicle._id}')`) View Details
        button.btn.btn-danger.mt-2(onclick=`navigateToDelete('${vehicle._id}')`) Delete
  else
    p No vehicles available to display.

  script.
    function navigateToUpdate(vehicleId) {
      window.location.href = `/resource/update?id=${vehicleId}`;
    }
    function navigateToDetails(vehicleId) {
      window.location.href = `/resource/vehicles/detail?id=${vehicleId}`;
    }
    function navigateToDelete(vehicleId) {
      window.location.href = `/vehicles/delete?id=${vehicleId}`;
    }