extends layout

block content
  h1(style="text-align: center; color: #333;") Vehicle Deletion

  div.row
    div(class='vehiclesAttr mr-3') Vehicle ID is:
    div #{toShow._id}
  div.row
    div(class='vehiclesAttr mr-3') Vehicle Name is:
    div #{toShow.vehicle_name}
  div.row
    div(class='vehiclesAttr mr-3') Price is:
    div #{toShow.price}
  div.row
    div(class='vehiclesAttr mr-3') Functionality is:
    div #{toShow.functionality}

  div(style="text-align: center; margin-top: 20px;")
    button#deleteBtn.btn-delete(onclick="deleteVehicle()") Delete
    button#cancelBtn.btn-cancel(onclick="window.location.href='/vehicles/view/page'") Cancel

  div#alert(style="display: none; margin-top: 20px; color: green; text-align: center;")
    strong Delete succeeded

  script.
    function deleteVehicle() {
      const id = "#{toShow._id}";
      fetch(`/vehicles/delete/${id}`, { method: 'DELETE' })
        .then(response => response.json())
        .then(data => {
          if (data.message === 'Delete succeeded') {
            document.getElementById('alert').style.display = 'block';
            setTimeout(() => window.location.href = '/vehicles/view/page', 2000);
          }
        })
        .catch(error => console.error('Error deleting vehicle:', error));
    }
