extends layout

block content
  h1.text-center.text-dark.mt-5.font-weight-bold= title

  if (toShow == null)
    h2.text-center.text-muted.mt-3 No details available for this vehicle
  else
    - let vehicleId = toShow._id
    - let vehicleName = toShow.vehicle_name
    - let vehiclePrice = toShow.price
    - let vehicleFunctionality = toShow.functionality

    div.container.mt-5
      div.card.shadow-lg.border-success
        div.card-header.bg-success.text-white
          h3.text-center Vehicle Details
        div.card-body
          div.row
            div.col-md-6.mb-3
              strong Vehicle ID:
              p.text-muted #{vehicleId}
            div.col-md-6.mb-3
              strong Vehicle Name:
              p.text-muted #{vehicleName}
            div.col-md-6.mb-3
              strong Price:
              p.text-muted $#{vehiclePrice}
            div.col-md-6.mb-3
              strong Functionality:
              p.text-muted #{vehicleFunctionality}
        div.card-footer.text-center
          a.btn.btn-outline-success.btn-lg(href='/resource/vehicles') Back to List